* {
    box-sizing:  border-box;
}

html, body {
    background-color: #fff;
    color: #333;
    height: 100%;
    margin: 0;
    width: 100%;
}

#container {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #370;
}

#viewport {
	height: 100%;
	width: 100%;
	background-color: #037;
}
